<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>From Page</title>
  </head>
  <body>
    <!--Local onde vai guardar tudo-->
    <header class="header-form">
      <h1>Visualize seu perfil</h1>

      <!--Formulario do negocio-->
      <form action="" method="post">

        <!--Imagem do perfil-->
        <div class="img-prof">
          <img src="" alt="" class="image-profile" />
          <a href="">Alterar foto de perfil</a>
        </div>

        <!--Dados do Colaborador-->
        <fieldset>
          <legend>Seus dados</legend>

          <div class="separator"></div>

          <label for="">Digite seu nome completo:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite seu email:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite seu CEP:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite seu bairro:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite sua rua:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Número de casa:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite seu CPF:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite seu telefone:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />
          <button>Adicionar novos números</button><!--Vai ter uma ação para executar-->

          <label for="">Senha:</label>
          <input type="password" name="" id="" placeholder="Digite aqui..." />

        </fieldset>

        <!--Dependentes-->
        <fieldset>
          <legend>Dados do dependente</legend>
          <!--Div so para ficar mais bonito-->
          <div class="separator"></div>

          <label for="">Digite seu nome completo</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite o email: (opcional)</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Digite o telefone: (opcional)</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />
          <button>Adicionar novo número</button><!--Vai ter uma ação para executar-->

          <label for="">Data de nascimento:</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />

          <label for="">Certidão de nascimento</label>
          <input type="text" name="" id="" placeholder="Digite aqui..." />
        </fieldset>
    
      </form>
    </header>
  </body>
</html>
