

.container {
    width: 100%;
    height: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {

}

form {

}

.field {

}

.label-item {

}

.input-field {

}

.btn {

}

.remember-password {

}

.circle1 {
    width: 500px;
    height: 500px;
    background-color: #0297E5;
    border-radius: 100%;
}

.circle2 {
    width: 200px;
    height: 200px;
    background-color: #0297E5;
    border-radius: 100%;

    position: relative;
    bottom: 500px;
    left: 1000px;

}